<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>

    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/common.css}" href="../css/common.css" rel="stylesheet">
    <link th:href="@{/css/font-awesome.min.css}" href="../css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../lib/emoj/lib/css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="../lib/emoj/src/css/jquery.emoji.css"/>

    <!-- jQuery -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" crossorigin="anonymous"></script>

    <!-- emoj start -->
    <script th:src="@{/lib/emoj/lib/script/jquery.mousewheel-3.0.6.min.js}"  src="../lib/emoj/lib/script/jquery.mousewheel-3.0.6.min.js"></script>
    <script th:src="@{/lib/emoj/lib/script/jquery.mCustomScrollbar.min.js}" src="../lib/emoj/lib/script/jquery.mCustomScrollbar.min.js"></script>
    <script th:src="@{/lib/emoj/dist/js/jquery.emoji.min.js}" src="../lib/emoj/dist/js/jquery.emoji.min.js"></script>
    <!-- emoj end -->

    <!-- 首页js -->
    <script th:src="@{/js/login.js}" src="../js/login.js"></script>
    <script th:src="@{/js/friends.js}" src="../js/friends.js"></script>
    <script th:src="@{/js/chat.js}" src="../js/chat.js"></script>

</head>
<body>

<div id="top_nav" class="top_nav_div">
    <div id="top_nav_btn_grp" class="top_nav_btn_grp_div">
        <button th:if="${session.user == null}" id="show_login_form_btn">登录</button>
        <button th:if="${session.user == null}" id="show_signup_form_btn">注册</button>
        <span th:if="${session.user != null}" >Hi, <label id="login_username">[[${session.user.userName}]] </label></span>
        <button th:if="${session.user != null}"><a href="/logout">退出</a></button>
    </div>
</div>

<div class="center_content">
    <div id="chat_record_container" class="chat_record_container_div">
        <ul id="chat_record_tab_ul" class="nav nav-tabs">
           <!-- <li class="active">
                <a href="#home" data-toggle="tab">
                    菜鸟教程
                </a>
            </li>
            <li>
                <a href="#ios" data-toggle="tab">
                    iOS
                </a>
            </li>
            <li>
                <a href="#jmeter" data-toggle="tab" >
                    jmeter
                </a>
            </li>-->
        </ul>
        <div id="chat_recoed_area_container" class="tab-content">
            <!--<div class="tab-pane fade in active" id="home">
                <p>菜鸟教程是一个提供最新的web技术站点，本站免费提供了建站相关的技术文档，帮助广大web技术爱好者快速入门并建立自己的网站。菜鸟先飞早入行——学的不仅是技术，更是梦想。</p>
            </div>
            <div class="tab-pane fade" id="ios">
                <p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
                    TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
            </div>
            <div class="tab-pane fade" id="jmeter">
                <p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>
            </div>-->
        </div>
    </div>
    <div id="rich_text" style="width: 1000px;height: 35px;float: left;">
        <button type="button" id="show_emoji_box_btn" style="margin: 2px 2px;width: 25px;height: 25px;background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZBAMAAAA2x5hQAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAkUExURUxpcfTGAPTGAPTGAPTGAPTGAPTGAPTGAPTGAPTGAPTGAPTGAOfx6yUAAAALdFJOUwAzbVQOoYrzwdwkAoU+0gAAAM1JREFUGNN9kK0PQWEUxl8fM24iCYopwi0muuVuzGyKwATFZpJIU01RUG/RBMnHxfz+Oef9uNM84d1+23nO+zxHKVG2WWupRJkdcAwtpCK0lpbqWE01pB0QayonREMoIp7AawQrWSgGGb4pn6dSeSh68FAVXqHqy3wKrkJiDGDTg3dnp//w+WnwlwIOJauF+C7sXRVfdha4O4oIJfTbtdSxs2uqhs585A0ko8iLTMEcDE1n65A+29pYAlr72nz9dKu7GuNTcsL2fDQzB/wCPVJ69nZGb3gAAAAASUVORK5CYII=);border: 0px;" ></button>
    </div>

    <div id="input_frame_container" class="input_frame_container_div">
        <!-- 输入区域 -->
        <div id="">
            <textarea id="input_area"></textarea>
        </div>
    </div>
    <!-- 按钮区域 -->
    <div id="button_area">
        <button id="close_current_window"> 关闭</button>
        <button id="send_message"> 发送</button>
    </div>

</div>



    <!-- 登录表单的容器 -->
    <div id="login_form_container" class="vanish">
        <div id="login_from_div" class="login_div">
            <form id="login_form" action="" method="post">
                <table>
                    <thead>
                    </thead>
                    <tbody>
                    <tr>
                        <td width="270px"><input id="username" name="userName" placeholder="用户名" class="input_text"/></td>
                    </tr>
                    <tr>
                        <td width="270px"><input type="password" id="password" name="userPassword" placeholder="密码" class="input_text"/></td>
                    </tr>
                    <tr class="rememberme_tr">
                        <td  align="right">
                            <input type="checkbox" name="rememberMe" checked="true" value="checked"/>
                        </td>
                        <td>记住我</td>
                    </tr>
                    <tfoot>
                    <tr>
                        <td colspan="2">
                            <button id="login_btn" class="login">登录</button>
                            <button id="regist_btn" class="regist">注册</button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>

    <!-- 注册表单的容器 -->
    <div id="signup_form_container" class="vanish">
        <div id="signup_from_div" class="login_div">
            <form id="signup_form" action="" method="post">
                <table>
                    <thead>
                    </thead>
                    <tbody>
                    <tr>
                        <td width="270px"><input id="signup_username" name="userName" placeholder="用户名" class="input_text"/></td>
                    </tr>
                    <tr>
                        <td width="270px"><input type="password" id="signup_password" name="userPassword" placeholder="密码" class="input_text"/></td>
                    </tr>
                    <tfoot>
                    <tr>
                        <td colspan="2">
                            <button id="signup_btn" class="login">注册</button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>

    <!-- 好友添加窗口 -->
    <div id="add_friend_window" style="position: absolute;margin: 100px 300px;z-index: 555;border:1px solid #d5d5d5; background-color: aliceblue" class="vanish">
        <div id="signup_from_di" class="add_friend_div">
            <form id="add_friend_from" action="" method="post">
                <table>
                    <tbody>
                    <tr>
                        <td width="270px"><input id="friendName" name="userName" placeholder="昵称" class="input_text"/></td>
                    </tr>
                    <tfoot>
                    <tr>
                        <td colspan="2">
                            <button id="add_friend_btn" class="login">添加</button>
                        </td>
                    </tr>
                    <span></span>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>



    <!-- 好友列表 -->
    <div th:if="${session.user != null}" id="friend_list_container_div">
        <!--<div th:replace="fragement/fg_friends_list::friend_list" id="_user_friends_list"></div>-->
        <label>我的好友</label> <label id="show_add_friend_btn" style="float: right;">添加<i class="fa fa-plus add_friend" ></i></label>
        <div></div>
        <div id="_user_friends_list"></div>
    </div>

<!-- 测试 web-socket  -->
<div id="message"></div>

</body>
</html>